body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.processing {
    background-color: lightgray;
    height: 50px;
    width: 500px;
    border-radius: 20px;
}

.processing-bar {
    background: linear-gradient(to left, #ac0151, #f88080);
    height: 100%;
    width: 0;
    opacity: 0;
    color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 3px -5px #70f2e7, 0 2px 5px #7088f2;
    transition: 1s ease;
}